a {
	color: #444444;
}

a:hover {
	color: #EF8F30;
}

#wrap-inside {
	border-top: 4px solid #444444;
}

article .meta a:hover {
	color: #444444;
}

article h2 a:hover {
	color: #444444;
}

ul.nav li a:hover {
	color: #444444;
}

ul.nav li.current-menu-item a,ul.nav li.current_page_item a {
	color: #444444;
}

h2.slide-title a:hover {
	color: #444444;
}

.ufo-recent .meta a:hover {
	color: #444444;
}

.ufo-recent .meta h4 a:hover {
	color: #444444;
}

.galleries article h2 a:hover {
	color: #444444;
}

a.action-button {
	background: #444444;
}

a.action-button:hover {
	background: #EF8F30;
}