a {
	color: #444444;
}

a:hover {
	color: #EF8F30;
}

#wrap-inside {
	border-top: 4px solid #444444;
}

article .meta a:hover {
	color: #444444;
}

article h2 a:hover {
	color: #444444;
}

ul.nav li a:hover {
	color: #444444;
}

ul.nav li.current-menu-item a,ul.nav li.current_page_item a {
	color: #444444;
}

h2.slide-title a:hover {
	color: #444444;
}

.ufo-recent .meta a:hover {
	color: #444444;
}

.ufo-recent .meta h4 a:hover {
	color: #444444;
}

.galleries article h2 a:hover {
	color: #444444;
}

a.action-button {
	background: #444444;
}

a.action-button:hover {
	background: #EF8F30;
}

/*#entry-full{ }*/
section#call2actSlice{
	position: relative;
	margin: 15px 0 30px 0;
}

section#homeBoard{
	overflow: auto;
	margin: 0px;
	background: url(/wp-content/uploads/2014/09/magra_bg.png) 0 bottom no-repeat;
	height: 450px;
	position: relative;
}
.typolografia{ 
	/*background: url("/wp-content/uploads/2014/09/typolografia.png") top no-repeat;*/
	height: 194px;
	display: block;
	bottom: -29px;
	width: 410px;

}
.typolografia > p{
	background: #272020;
	color: white;
	bottom: 0;
	position: absolute;
	display: block;
	padding: 8px 5px;
	font-size: 1.6em;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.board {
	width: 280px;
	float: right;
	height: 180px;
	overflow: auto;
	margin: 95px;
	border-radius: 30px;
	padding: 10px;
}

#page-top > h1 {
	
	left: 128px;
	font-size: 200px;
	transform-origin: left top 0;
	-webkit-transform-origin: left top 0;
	-ms-transform-origin: left top 0;
	top: -30px;
	position: fixed;
	color: #888;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg)
}
h2.dia{
	text-align: right;
	padding: 0 105px 0 0;
}

.blogPost{
	padding: 15px;
	margin: 15px 0;
}

	.blogPost a img{
		float: left;
		margin: 0 10px 0 0;
	}

.h2separa{
	margin: 10px;
	background: WhiteSmoke;
}


#entry-full {
/*	width: 920px;
	float: left;*/
	margin-top: 15px;
}

.call2act {
	border: 1px solid #DDD;
	height: 135px;
	float: right;
	width: 420px;
	margin-top: -177px;
	margin-right: 10px;
	padding: 20px;
	background: #202020;
}


.call2act .action-button{
	bottom: -20px;
}

.llamanos{
	font-size: 1.8em;
	line-height: 80px;
}

#copyright{
	height: 240px;
	background: url(/wp-content/uploads/2014/09/la-foto-1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
